<div class="row">
  <div class="col-lg-4 col-lg-offset-4 well">
    <h3 class="text-center">Resend Confirmation</h3>
    <br>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <% if resource.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <%= resource.errors.full_messages.first %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', autofocus: true, placeholder: 'email@example.com' %>
      </div>
      <div class="actions">
        <%= f.submit 'Resend confirmation', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>