<% if activity.trackable %>
  <div id="event-<%= activity.trackable.id %>" class="event">
    <div class="info">
      <%= render 'partials/avatar', user: activity.owner %>
      <h4 class="name"><%= activity.owner.name %></h4>
      <span class="action">created an <%= link_to 'event', activity.trackable %></span>
    </div>
    <div class="content">
      <h3><%= activity.trackable.name %></h3>
      <span class="text"><%= formatted_time(activity.trackable.when) %></span>
      <%= render 'partials/created_at', activity: activity %>
      <div class="points">
        <span class="like-count"><%= pluralize(activity.trackable.cached_votes_up, 'like') %></span>
        <span class="comment-count"><%= pluralize(activity.trackable.comments_count, 'comment') %></span>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="actions">
        <div class="row">
          <div class="col-xs-6 like">
            <%= render 'likes/form', likeable: activity.trackable %>
          </div>
          <div class="col-xs-6 comment">
            <%= link_to activity.trackable, class: 'btn btn-block' do %>
              <%= fa_icon 'comment' %> comment
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>