<% if activity_resources_exist?(activity) && activity.trackable.followable %>
  <div id="activity-<%= activity.id %>" class="activity">
    <div class="activity-follow">
      <div class="follower">
        <%= render 'shared/avatar', user: activity.owner %>
        <h4 class="name"><%= link_to activity.owner.name, user_path(activity.owner) %></h4>
        <span class="action">Followed </span>
      </div>
      <div class="followee">
        <%= render 'shared/avatar', user: activity.trackable.followable %>
        <h4 class="name"><%= link_to activity.trackable.followable.name, user_path(activity.trackable.followable) %></h4>
      </div>
      <%= render 'shared/created_at', activity: activity %>
    </div>
  </div>
<% end %>
