<div class="row">
  <div class="user-info">
    <%= render 'shared/avatar', user: comment.user %>
    <h4 class="name"><%= link_to comment.user.name, user_path(comment.user) %></h4>
    <% if is_activity %>
      commented on a <%= link_to comment.commentable_type.downcase, post_path(comment.commentable_id) %>
    <% end %>
  </div>
  <div class="actions">
    <%= render 'comments/actions', comment: comment %>
  </div>
</div>
<div class="row">
  <%= render 'shared/created_at', activity: comment %>
</div>
<% if is_activity %>
  <div class="commentable">
    <%= render comment.commentable, remote: true, render_actions: false, render_comments: false %>
  </div>
<% end %>
