<div id="comment-<%= comment.id %>" class="comment">
  <div class="row">
    <div class="comment-user-info">
      <%= render 'shared/avatar', user: comment.user %>
      <h4 class="name"><%= link_to comment.user.name, user_path(comment.user) %></h4>
    </div>
    <div class="comment-actions">
      <%= render 'shared/comment/actions', comment: comment %>
    </div>
  </div>
  <div class="row">
    <div class="comment-content">
      <span class="text"><%= comment.comment_html %></span>
    </div>
  </div>
  <div class="row">
    <div class="comment-created-at">
      <%= render 'shared/created_at', resource: comment %>
    </div>
  </div>
</div>
