<% if has_about_fields?(@user) %>
  <div id="about-block" class="sidebar-block">
    <h4 class="block-title">
      <i class="icon-user"></i> About
    </h4>
    <div class="row">
      <div id="about-section" class="section">
        <ul class="list-group">
          <% if @user.created_at.present? %>
            <li class="list-group-item">
              <i class="icon-back-in-time"></i> Joined <%= get_date_and_year(@user.created_at) %>
            </li>
          <% end %>
          <% if @user.dob.present? %>
            <li class="list-group-item">
              <i class="icon-birthday"></i> <%= get_date_and_year(@user.dob) %>
            </li>
          <% end %>
          <% if @user.sex.present? %>
            <li class="list-group-item">
              <i class="icon-user"></i> <%= @user.sex.capitalize %>
            </li>
          <% end %>
          <% if @user.location.present? %>
            <li class="list-group-item">
              <i class="icon-location-1"></i> Lives in <%= @user.location %>
            </li>
          <% end %>
          <% if @user.hometown.present? %>
            <li class="list-group-item">
              <i class="icon-home"></i> From <%= @user.hometown %>
            </li>
          <% end %>
          <% if @user.works_at.present? %>
            <li class="list-group-item">
              <i class="icon-briefcase"></i> Works at <%= @user.works_at %>
            </li>
          <% end %>
          <% if @user.following_users.last.present? %>
            <li class="list-group-item">
              <i class="icon-users"></i> Became friends with <%= link_to @user.following_users.last.first_name, @user.following_users.last%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
