<% if has_about_fields?(@user) %>
  <div id="about">
    <h4 class="text-center"><i class="icon-user"></i> About</h4>
    <ul>
      <li><i class="icon-back-in-time"></i> Joined <%= get_date_and_year(@user.created_at) %></li>
      <% if @user.dob.present? %>
        <li><i class="icon-birthday"></i> <%= get_date_and_year(@user.dob) %></li>
      <% end %>
      <% if @user.location.present? %>
        <li><i class="icon-location-1"></i> Lives in <%= @user.location %></li>
      <% end %>
      <% if @user.hometown.present? %>
        <li><i class="icon-home"></i> From <%= @user.hometown %></li>
      <% end %>
      <% if @user.works_at.present? %>
        <li><i class="icon-briefcase"></i> Works at <%= @user.works_at %></li>
      <% end %>
      <% if @user.following_users.last.present? %>
        <li><i class="icon-users"></i> Became friends with <%= @user.following_users.last.first_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
