<div id="profile-block" class="sidebar-block">
  <!-- cover and profile pic -->
  <div class="<%= is_user_page ? 'sidebar-cover-user' : 'sidebar-cover' %>"
    style="background-image: url(<%= @user.cover.url || '/assets/cover.png' %>);">
    <%= render 'shared/avatar', user: @user %><br>
  </div>
  <!-- user info -->
  <div class="row">
    <div id="info-section" class="section">
      <h4 class="name"><%= link_to @user.name, @user %></h4>
      <span id="bio">
        <%= @user.bio || 'Nothing to say about me.' %>
      </span>
    </div>
  </div>
  <!-- stats -->
  <div class="row">
    <div id="stats-section" class="section">
      <div class="stats-count">
        <span>FRIENDS</span>
        <h4><%= @user.following_users.count %></h4>
      </div>
      <div class="stats-count">
        <span>POSTS</span>
        <h4><%= @user.posts_count %></h4>
      </div>
      <div class="stats-count">
        <span>ALBUMS</span>
        <h4><%= @user.photo_albums_count %></h4>
      </div>
    </div>
  </div>
  <!-- follow/unfollow block -->
  <% unless is_current_user?(@user) %>
    <div class="row">
      <div id="follow-section" class="section">
        <%= render 'follows/form', user: @user %>
        <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
      </div>
    </div>
  <% end %>
</div>
