<% if is_current_user?(@user) %>
  <div id="user-links-block" class="sidebar-block">
    <div id="links-section" class="list-group">
      <%= link_to edit_user_path(@user), class: 'list-group-item' do %>
        <i class="icon-pencil"></i> Edit Profile
      <% end %>
      <%= link_to edit_user_registration_path, class: 'list-group-item' do %>
        <i class="icon-lock"></i> Change password
      <% end %>
      <%= link_to friends_user_path(@user), class: 'list-group-item' do %>
        <i class="icon-users"></i> Friends
      <% end %>
      <%= link_to followers_user_path(@user), class: 'list-group-item' do %>
        <i class="icon-user"></i> Followers
      <% end %>
      <%= link_to deactivate_user_path(@user), class: 'list-group-item' do %>
        <i class="icon-trash"></i>Deactivate
      <% end %>
    </div>
  </div>
<% end %>
