<%= form_for(@post, html: { class: 'form' }) do |f| %>
  <div id="edit-content-section" class="form-group">
    <div id="pseudo_edit_post_content" contenteditable="true" class="editable form-control input-mentionable" placeholder="What's up?">
      <%= @post.content.html_safe %>
    </div>
    <%= f.hidden_field :content, class: 'form-control input-mentionable', autofocus: true %>
  </div>
  <div id="link-preview-section" class="form-group">
    <% if @post.attachment.present? %>
      <div class="attachment">
        <%= image_tag @post.attachment %>
      </div>
    <% elsif @post.preview_html.present? %>
      <div class="autobox-preview">
        <%= @post.preview_html.html_safe %>
      </div>
    <% end %>
  </div>
<% end %>
