<%= form_for(@post, html: { class: 'form' }) do |f| %>
  <!-- post text content section -->
  <div id="content-section" class="form-group">
    <%= react_component 'ContentEditable', name: 'post[content]', placeholder: 'What\'s up?' %>
  </div>
  <!-- preview section -->
  <%= render 'shared/status/preview', f: f %>
  <!-- post attachment section -->
  <div id="attachment-section" class="form-group hidden">
    <a id="pseudo_post_attachment" href="javascript:void(0);" class="pull-right btn btn-primary">
      <i class="icon-attach-1"></i>
    </a>
    <%= f.file_field :attachment, class: 'hidden' %>
  </div>
  <!-- post submit button -->
  <div class="form-group">
    <%= button_tag(type: :submit, class: 'btn btn-primary') do %><i class="icon-paper-plane"></i> Post<% end %>
  </div>
<% end %>
