<div id="user-<%= user.id %>">
  <div class="col-md-8 col-md-offset-1">
    <%= render 'shared/avatar', user: user %>
    <span class="name"><%= link_to user.name, user %></span>
    <h5><%= user.location || 'Unknown'%></h5>
  </div>
  <div class="col-md-2">
    <%= render 'follows/form', user: user %>
  </div>
</div>
