<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div id="followers">
      <% @followers.each do |user| %>
        <div id="user-<%= user.id %>">
          <%= render 'partials/avatar', user: user %>
          <%= user.name %>
          <div class="follow">
            <%= render 'follows/form', user: user %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div id="endless-scroll">
      <%= will_paginate @followers %>
    </div>
  </div>
</div>