<div id="user-<%= @user.id %>">
  <div class="stream">
    <% if is_current_user?(@user) %>
      <div class="new-resource">
        <%= render 'posts/form' %>
      </div>
    <% end %>
    <div id="activities" class="resources-block">
      <h4 class="underlined">USER STREAM</h4>
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <div class="pagination-block">
      <%= render 'shared/paginate', resources: @activities %>
    </div>
  </div>
</div>
