<%= render 'shared/cover', user: @user %>
<br>
<div id="user-<%= @user.id %>" class="row">
  <%= render 'shared/user_board' %>
  <div class="col-lg-6">
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <% if is_current_user?(@user) %>
    <div id="sidebar">
      <div id="links" class="list-group">
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'list-group-item' %>
        <%= link_to 'Change password', edit_user_registration_path, class: 'list-group-item' %>
        <%= link_to 'Friends', friends_user_path(@user), class: 'list-group-item' %>
        <%= link_to 'Followers', followers_user_path(@user), class: 'list-group-item' %>
        <%= link_to 'Deactivate', deactivate_user_path(@user), class: 'list-group-item' %>
      </div>
    </div>
  <% end %>
</div>
