<%= render 'partials/cover', user: @user %>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= link_to 'Edit Profile', edit_user_path(current_user) %>
    <%= link_to 'Change your password', edit_user_registration_path %>
    <br>
    <br>
    <div id="activities">
      <%= render_activities(@activities, layout: :activity) %>
    </div>
    <div id="endless-scroll">
      <%= will_paginate @activities %>
    </div>
  </div>
</div>