<%= render 'shared/cover', user: @user %>
<div id="user-<%= @user.id %>">
  <div class="stream">
    <div id="activities" class="resources-block">
      <h4 class="underlined">USER STREAM</h4>
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <div class="pagination-block">
      <%= render 'shared/paginate', resources: @activities %>
    </div>
  </div>
</div>
