<%= render 'partials/avatar', user: activity.owner %>
<%= activity.owner.name %>  posted
<% if activity.trackable %>
  <div id="activity-<%= activity.id %>">
    <div id="post-<%= activity.trackable.id %>">
      <%= link_to activity.trackable.content, activity.trackable %>
      <br>
      <br>
      <% if user_signed_in? %>
        <div class="likes">
          <%= render 'likes/form', likeable: activity.trackable %>
        </div>
        <%= link_to pluralize(activity.trackable.comments_count, 'comment'), activity.trackable %>
      <% end %>
    </div>
  </div>
<% end %>