<% if activity_resources_exist?(activity) %>
  <div id="activity-<%= activity.id %>" class="activity">
    <div class="activity-like">
      <div class="info">
        <%= render 'shared/avatar', user: activity.owner %>
        <h4 class="name"><%= link_to activity.owner.name, user_path(activity.owner) %></h4>
        <span class="action">liked a <%= link_to 'post', activity.trackable %></span>
      </div>
      <div class="content">
        <h4><small><%= activity.trackable.content_html %></small></h4>
      </div>
      <%= render 'shared/created_at', activity: activity %>
    </div>
  </div>
<% end %>
