<div id="links" class="list-group">
  <%= link_to root_path, class: "list-group-item #{(page=='newsfeed') ? 'active':''}" do %>
    <i class="icon-newspaper"></i> Stream
  <% end %>
  <%= link_to new_event_path , class: "list-group-item #{(page=='event') ? 'active':''}" do %>
    <i class="icon-calendar-empty"></i> Create Event
  <% end %>
  <%= link_to user_photo_albums_path(current_user), class: "list-group-item #{(page=='photo_album') ? 'active':''}" do %>
    <i class="icon-picture"></i> Photo Albums
  <% end %>
  <%= link_to friends_user_path(current_user), class: "list-group-item #{(page=='friends') ? 'active':''}" do %>
    <i class="icon-users"></i> Friends
  <% end %>
  <%= link_to followers_user_path(current_user) , class: "list-group-item #{(page=='followers') ? 'active':''}" do %>
    <i class="icon-user"></i> Followers
  <% end %>
  <%= link_to find_friends_path, class: "list-group-item #{(page=='find_friends') ? 'active':''}" do %>
    <i class="icon-search"></i> Find Friends
  <% end %>
</div>
