<div id="user-board">
  <div class="cover" style="background-image: url(/assets/cover.png);">
    <%= render 'shared/avatar', user: @user %><br>
  </div>
  <div id="info">
    <h4 class="name"><%= link_to @user.name, @user %></h4>
    <span id="about">
      <%= @user.about || 'Nothing to say about me.' %>
    </span>
    <% if is_current_user?(@user) %>
      <div class="row">
        <div id="stats">
          <div class="count">
            <span>FOLLOWING</span>
            <h4><%= @user.following_users.count %></h4>
          </div>
          <div class="count">
            <span>POSTS</span>
            <h4><%= @user.posts_count %></h4>
          </div>
        </div>
      </div>
    <% else %>
      <div id="follow" class="text-center">
        <%= render 'follows/form', user: @user %>
        <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
      </div>
    <% end %>
  </div>
</div>
