<div id="user-board">
  <div class="cover" style="background-image: url(/assets/cover.png);">
    <%= render 'shared/avatar', user: @user %><br>
  </div>
  <div id="info">
    <h4 class="name"><%= link_to @user.name, @user %></h4>
    <span id="about">
      <%= @user.about || 'Nothing to say about me.' %>
    </span>
  </div>
  <div id="follow">
    <% unless is_current_user?(@user) %>
      <%= render 'follows/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
    <% end %>
  </div>
</div>
