<div class="row">
  <%= render 'shared/user_board' %>
  <div class="stream">
    <div class="new-post">
      <%= render 'posts/form' %>
    </div>
    <h4 class="underlined">STREAM</h4>
    <div id="activities" class="resources">
      <% if @activities.empty? %>
        <%= render('shared/no_resource', resources: 'Activities') %>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <div class="pagination-block">
      <%= render 'shared/paginate', resources: @activities %>
    </div>
  </div>
  <%= render 'shared/sidebar', page: 'newsfeed' %>
</div>
