<div class="row">
  <div class="col-lg-3">
    <%= render 'partials/user_info' %>
  </div>
  <div id="newsfeed" class="col-lg-6">
    <%= render 'posts/form' %>
    <br>
    <div id="activities">
      <%= render_activities(@activities, layout: :activity) %>
    </div>
    <%= render 'partials/paginate', resources: @activities %>
  </div>
  <div class="col-lg-3">
    <%= render 'partials/links' %>
  </div>
</div>