<div id="event-<%= event.id %>" class="event">
  <div class="row">
    <div class="user-info">
      <%= render 'shared/avatar', user: event.user %>
      <h4 class="name"><%= link_to event.user.name, user_path(event.user) %></h4>
      <span class="action">created an <%= link_to 'event', event %></span>
    </div>
    <% if render_actions %>
      <div class="actions">
        <%= render 'events/actions', remote: remote, event: event %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= render 'shared/created_at', activity: event %>
  </div>
  <div class="row">
    <div class="icon">
      <%= image_tag 'event.png' %>
    </div>
    <div class="event-details">
      <span class="text"><%= event.name %></span>
      <div class="calendar">
        <%= fa_icon 'calendar-o' %> <%= formatted_time(event.when) %>
      </div>
      <div class="location">
        <%= fa_icon 'map-marker' %> <%= event.where || 'Unknown' %>
      </div>
    </div>
  </div>
  <% if render_actions %>
    <div class="row">
      <div class="like-and-comment">
        <%= render 'shared/like_and_comment', resource: event %>
      </div>
    </div>
  <% end %>
  <% if render_comments %>
    <div class="row">
      <%= render 'shared/comments_block', resource: event %>
    </div>
  <% end %>
</div>
