<div id="event-<%= event.id %>" class="event">
  <div class="row">
    <div class="user-info">
      <%= render 'shared/avatar', user: event.user %>
      <h4 class="name"><%= link_to event.user.name, user_path(event.user) %></h4>
      <span class="action">created an <%= link_to 'event', event %></span>
    </div>
    <div class="actions">
      <%= render 'events/actions', remote: remote, event: event %>
    </div>
  </div>
  <div class="row">
    <%= render 'shared/created_at', activity: event %>
  </div>
  <div class="row">
    <div class="icon">
      <%= image_tag 'event.png' %>
    </div>
    <div class="event-details">
      <span class="text"><%= event.name %></span>
      <div class="calendar">
        <i class="icon-calendar-empty"></i> <%= formatted_time(event.when) %>
      </div>
      <div class="location">
        <i class="icon-location-1"></i> <%= event.where || 'Unknown' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="like-and-comment">
      <%= render 'shared/like_and_comment', resource: event %>
    </div>
  </div>
  <div class="row">
    <% if defined? show_all %>
      <%= render 'shared/comments_block', resource: event, show_all: true %>
    <% else %>
      <%= render 'shared/comments_block', resource: event %>
    <% end %>
  </div>
</div>
