<%= form_for(@event) do |f| %>
  <div class="form-group">
    <%= f.label :event_name %>
    <%= f.text_field :name, autofocus: true, placeholder: 'Event Name', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :when? %>
    <%= f.text_field :event_datetime, placeholder: 'When is it?', class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit (@event.persisted? ? :update : :create), class: 'btn btn-primary' %>
  </div>
<% end %>
