<div class="row">
  <%= render 'shared/user_board' %>
  <div class="stream">
    <div class="resources-block">
      <%= link_to '#', 'data-toggle' => 'modal', 'data-target' => '#new-photo-album', class: 'btn btn-primary pull-right' do %>
        <%= fa_icon 'plus' %>
      <% end %>
      <h4 class="underlined">PHOTO ALBUMS</h4>
      <div id="photo-albums" class="row">
        <%= render(@photo_albums) || render('shared/no_resource', resources: 'Photo Albums') %>
      </div>
    </div>
  </div>
  <%= render 'shared/sidebar', page: 'photo_album' %>
</div>
<div class="modal fade" id="new-photo-album" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="underlined">CREATE PHOTO ALBUM</h4>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
