<div class="row">
  <%= render 'shared/user_board' %>
  <div class="stream">
    <div class="resources-block">
      <div class="row">
        <h4 class="underlined"><%= @photo_album.title.upcase %></h4>
        <div class="pull-right">
          <%= link_to photo_album_path(@photo_album), method: :delete, class: 'btn btn-danger' do %>
            <i class="icon-trash"></i>
          <% end %>
          <a href="#" data-toggle="modal" , data-target="#upload-photos" class="btn btn-primary">
            <i class="icon-plus"></i>
          </a>
        </div>
      </div>
      <div id="photos" class="row">
        <%= render(@photos) || render('shared/no_resource', resources: 'Photos') %>
      </div>
    </div>
  </div>
  <%= render 'shared/sidebar', page: 'photo_album' %>
</div>
<div class="modal fade" id="upload-photos" tabindex="-1" role="dialog" aria-labelledby="uploadPhotosLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-body">
      <%= render 'photos/form' %>
    </div>
  </div>
</div>
