<div class="row" style="margin-top: 50px;">
  <div class="col-lg-3 col-lg-offset-2">
    <h3 class="text-center">Login</h3>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'Email' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'Password' %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <div class="actions">
        <%= f.submit 'Log in', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <br>
  </div>
  <div class="col-lg-3 col-lg-offset-2" style="margin-top: 75px;">
    <%= link_to "<i class='fa fa-facebook'></i> &nbsp; Login with Facebook".html_safe, user_omniauth_authorize_path(:facebook), class: 'btn btn-block btn-facebook' %><br>
    <%= link_to "<i class='fa fa-google-plus'></i> &nbsp; Login with Google".html_safe, user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-block btn-google' %>
  </div>
</div>
<div class="row" style="margin-top: 75px;">
  <div class="text-center">
    <h5><%= link_to 'Forgot password?', new_password_path(resource_name) %></h5>
    <h5><%= link_to "Didn't receive confirmation?", new_confirmation_path(resource_name) %></h5>
  </div>
</div>
