<%= form_for(@post, html: { class: 'form' }) do |f| %>
  <!-- post text content section -->
  <div class="form-group">
    <%= react_component 'ContentEditable', { name: 'post[content]',
      previewName: 'post[preview_html]', placeholder: 'What\'s up?', content: @post.content, linkPreviewHTML: @post.preview_html } %>
  </div>
  <% if @post.persisted? %>
    <%= react_component 'ImagePreview', src: @post.attachment.url %>
  <% else %>
    <!-- post attachment section -->
    <div class="form-group">
      <%= react_component 'InputFileField', name: 'post[attachment]' %>
    </div>
  <% end %>
  <!-- post submit button -->
  <div class="form-group">
    <%= button_tag(type: :submit, class: 'btn btn-primary') do %>
      <i class="icon-paper-plane"></i>
      <%= @post.persisted? ? 'Update' : 'Post' %>
    <% end %>
  </div>
<% end %>
