<div class="well">
  <div id="mentionable-data" data-content="<%= mentionable_user_path(current_user) %>"></div>
  <%= form_for @post, html: { class: 'post_form' } do |f| %>
    <div class="form-group">
      <h4>Update Status</h4>
      <div id="post-content" contenteditable="true" class="editable form-control input-mentionable" placeholder="What's up?"></div>
      <%= f.hidden_field :content, value: @post.content, class: 'form-control input-mentionable', autofocus: true %>
    </div>
    <div id="img-preview" class="form-group hidden">
      <img src="" alt="Preview">
    </div>
    <div class="form-group hidden">
      <%= f.file_field :attachment %>
    </div>
    <div class="form-group">
      <a id="post-attachment" href="javascript:void(0);" class="pull-right btn btn-primary">
        <%= fa_icon 'image' %>
      </a>
      <%= f.submit 'Post', class: 'btn btn-primary'%>
    </div>
    <% if @post.attachment.present? %>
      <div class="attachment">
        <%= image_tag @post.attachment %>
      </div>
    <% end %>
  <% end %>
</div>
