<div id="post-<%= post.id %>" class="post">
  <div class="row">
    <div class="post-user-info">
      <%= render 'shared/avatar', user: post.user %>
      <h4 class="name"><%= link_to post.user.name, user_path(post.user) %></h4>
    </div>
    <div class="post-actions">
      <%= render 'posts/actions', remote: remote, post: post %>
    </div>
  </div>
  <div class="row">
    <div class="post-created-at">
      <%= render 'shared/created_at', resource: post %>
    </div>
  </div>
  <div class="row">
    <div class="post-content">
      <div class="link-preview">
        <%= post.html %>
      </div>
      <% if post.attachment.present? %>
        <div class="attachment">
          <%= image_tag post.attachment %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="like-and-comment">
      <%= render 'shared/like_and_comment', resource: post %>
    </div>
  </div>
  <div class="row">
    <%= render 'shared/comment/comments', resource: post, expand: (defined?(expand_comments) && expand_comments) %>
  </div>
</div>
