<div id="post-<%= @post.id %>" class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= @post.content %>
    <br>
    <br>
    <div class="likes">
      <%= render 'likes/form', likeable: @post %>
    </div>
    <br>
    <%= render 'comments/form', commentable: @post %>
    <div class="comments">
      <h4>Comments</h4>
      <%= render @comments %>
    </div>
  </div>
</div>