<div id="activty-<%= activity.id %>" class="activity">
  <%= render 'partials/avatar', user: activity.owner %>
  <%= activity.owner.name %>  commented
    <%= activity.trackable.comment %>
  on <%= activity.trackable.commentable.content %>
</div>