<!DOCTYPE html>
<html>
  <head>
    <title>Socify - Open source social networking platform</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <%= react_component 'Application' %>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_api_key %>&libraries=places"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
